@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
body {
  color: #323b4c;
  height: 100%;
}

h3 {
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 47px;
}

h6 {
  margin-left: 21px;
  color: gray;
}
h6 svg {
  color: white;
  padding-right: 5px;
}

h1 {
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 25px;
  padding-bottom: 0px;
  font-size: 35px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  font-size: larger;
  color: yellowgreen;
}

h5:first-child {
  margin-left: 70px;
}

ul li {
  padding-bottom: 5px;
}

h3:last-child {
  padding-left: 25px;
}

hr {
  margin-top: -15px;
}

@media (max-width: 720px) {
  .right {
    display: contents;
    text-align: center;
  }
}
.left {
  font-size: 14.5px;
  height: 1300px;
  width: 220px;
  padding-left: 30px;
  float: left;
  background: #323b4c;
}
.left img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 30px 35px;
}
.left h4 {
  text-transform: uppercase;
  color: white;
  margin-left: 21px;
}
.left hr {
  width: 90%;
  margin-left: 21px;
  color: white;
}
.left h5 {
  margin-left: 21px;
  color: white;
  margin-bottom: -5px;
}
.left p {
  margin-left: 21px;
  color: gray;
}

.right {
  font-size: 14.5px;
  float: left;
  width: 455px;
  height: 1100px;
}
.right a {
  color: #323b4c;
}
.right a:hover {
  transition: 0.5s;
  font-size: larger;
  color: yellowgreen;
}
.right .text {
  margin-left: 20px;
  text-transform: none;
}
.right .text h4 {
  text-transform: none;
}
.right .text ul::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -18px;
  width: 6px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid #323b4c;
}
.right .text ul::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -14px;
  width: 2px;
  height: 226px;
  background: #323b4c;
}
.right li {
  position: relative;
  list-style-type: none;
}
.right p {
  padding-left: 25px;
}
.right .top {
  margin-top: 0px;
}
.right h4 {
  margin-top: 31px;
  text-transform: uppercase;
  padding-left: 25px;
}
.right hr {
  width: 88%;
  border: 1px solid;
}

.line li {
  list-style-type: disc;
}

.footer {
  display: flex;
}
.footer h5 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 15px;
  margin-left: 25px;
}
.footer h6 {
  margin-left: 25px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.footer p {
  margin-top: 10px;
}

i {
  padding-right: 10px;
  color: white;
  font-size: 15px;
  transition: 0.2s;
}

i:hover {
  color: darkgrey;
  font-size: large;
}