body {
  display: block;
  height: 100%;
}

/*@media (max-width: 675px) {
    .left {
        display: block;
    }
}
@media (min-width: 675px) {
    .right {
        display: block;
    }
}*/
.left {
  width: 220px;
  padding-left: 30px;
  float: left;
  background: #323b4c;
}
.left a {
  color: white;
  text-decoration: none;
}
.left a:hover {
  transition: 0.5s;
  font-size: x-large;
}
.left img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 50px 35px;
}
.left h4 {
  text-transform: uppercase;
  color: white;
  margin-left: 21px;
}
.left hr {
  width: 90%;
  margin-left: 21px;
  color: white;
}
.left h5 {
  margin-left: 21px;
  color: white;
}
.left p {
  margin-left: 21px;
  color: gray;
}
.left h6 {
  margin-left: 21px;
  color: gray;
}
.left h6 svg {
  color: white;
  padding-right: 5px;
}

.right {
  float: right;
  width: 455px;
  height: 800px;
  border: 6px solid red;
}