body {
  color: #323b4c;
  height: 100%;
}

h3 {
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 47px;
}

h6 {
  margin-left: 21px;
  color: gray;
}
h6 svg {
  color: white;
  padding-right: 5px;
}

h1 {
  text-transform: uppercase;
  padding-left: 25px;
  padding-bottom: 0px;
  font-size: 35px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transition: 0.5s;
  font-size: larger;
}

h5 {
  margin-left: 70px;
}

ul li {
  padding-bottom: 5px;
}

@media (max-width: 675px) {
  .right {
    display: contents;
  }
}
.left {
  width: 220px;
  padding-left: 30px;
  float: left;
  background: #323b4c;
}
.left img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 50px 35px;
}
.left h4 {
  text-transform: uppercase;
  color: white;
  margin-left: 21px;
}
.left hr {
  width: 90%;
  margin-left: 21px;
  color: white;
}
.left h5 {
  margin-left: 21px;
  color: white;
}
.left p {
  margin-left: 21px;
  color: gray;
}

.right {
  float: left;
  width: 455px;
  height: 900px;
}
.right .text {
  border-left: 2px solid gray;
  margin-left: 60px;
  text-transform: none;
}
.right .text h4 {
  text-transform: none;
}
.right p {
  padding-left: 25px;
}
.right h4 {
  top: 2px;
  text-transform: uppercase;
  padding-left: 25px;
}
.right hr {
  width: 88%;
  border: 1px solid;
}