@import "../node_modules/bootstrap-scss/bootstrap";

%line {
    border-bottom: 2px solid gray;
    margin-left: 30px;
    width: 86%;
}

%content {
    width: 800px;
    padding-left: 350px; 
}

#about {
    border: 6px solid red;
    position: relative;
    color: white;
    background: #323b4c;
    width: 250px;
    height: 100%;
    float: left;
    .photo {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        padding-left: 20px;
        padding-top: 20px;
    }
    hr {
        @extend %line;
        padding-left: 3px;
        color: lawngreen;
    }
    h4 {
        text-transform: uppercase;
        padding-left: 38px;
        padding-top: 36px;
    }
    h6{
        padding-left: 40px;
    }
    .tables {
        padding-left: 40px;
    }

}

#header {
    border: 6px solid red;
    position: relative;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 100px;
}

#container {
    width: 700px;
    height: 60%;
    border: 6px solid red;
    position: relative;
    border-left: 2px solid gray;
    h4 {
        position: relative;
        text-transform: uppercase;
        padding-top: 250px;
        padding-left: 300px;
    }
    hr {
        border-bottom: 2px solid gray;
        margin-left: 300px;
        width: 60%;
    }
    h5 {
        padding-left: 300px;
    }
    h6 {
        width: 800px;
        padding-left: 350px;        
     }
    p {
        @extend %content;
    }
    ul {
        li {
            position: relative;
            left: 120px;
            bottom: 10px;
            padding-left: 0px;            
        }
    }
        
}
.form {
    display: inline-block;
    width: 700px;
}



