@import "../utilities/mixins";

.img {
    border-radius: 30%;
    width: 170px;
    height: 190px;
    padding: 40px 20px;
}

.contact {
    .circle {
        width: 24px;
        height: 20px;
        background: $color-white;
        border-radius: 50%;
    }

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        line-height: 20px;
    }

    .li-contact {
        display: flex;
    }

    .m-left-list {
        color: $color-white;
    }
}

.education {
    span {
        color: $color-white;
    }

    ul {
        padding: 0;
        margin-top: 5px;
        list-style-type: none;
    }

    li {
        @include white(0.7);
    }
}

.skills {
    span {
        color: $color-white;
    }
     ul {
         padding: 0;
         margin-top: 5px;
         list-style-type: none;
     }

     li {
         @include white(0.7);
     }
}

.m-right-block {
    div {
        letter-spacing: 3px;
    }
}

.work-exp {
    hr {
        margin: 0;
        margin-top: 5px;
    }
}

.m-span {
    color: $color-white;
    font-size: rem(16px);
}

.m-right-list {
    li {
        list-style-type: disc;
    }
}

.job {
    ul {
        padding: 0;
        margin-left: 25px;
    }
}

.footer {
    .flex-cont {
        display: flex;
    }

    h6 {
        margin: 0;                                  
    }

    p {
        margin-top: 10px;
    }

    .f-right {
        margin-left:15px;
    }
    
}