.vr {
    list-style-type: none;
    position: relative;
    padding-left: 15px;

    p {
      margin-top: 2px;
    }

    &:last-child {
        margin-bottom: 50px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: -26px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid $color-theme;
    }

    &:after {
      content: "";
      position: absolute;
      top: 14px;
      left: -21px;
      width: 2px;
      height: calc(100% + 40px); // calc
      background: $color-theme;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      top: 14px;
      left: -21px;
      width: 2px;
      height: calc(100% - 15px); // calc
      background: $color-theme;
    }
}

@media only screen and (max-width: 600px){
  .l-container {
      display: block;
      .vr::before {
          content: "";
          position: absolute;
          top: 5px;
          left: -25px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          border: 2px solid $color-theme;
        }
        
      .vr::after {
        content: "";
        position: absolute;
        top: 16px;
        left: -20px;
        width: 2px;
        background: $color-theme;
      }
  }
}

@media only screen and (min-width: 992px){
  .l-container {
      .vr::before {
          content: "";
          position: absolute;
          top: 5px;
          left: -25px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          border: 2px solid $color-theme;
        }
        
      .vr::after {
        content: "";
        position: absolute;
        top: 16px;
        left: -20px;
        width: 2px;
        background: $color-theme;
      }
  }
}
