.l-container {
    font-weight: 500;
    display: flex;
    .l-left { 
        padding: 0 25px;
        background: $color-theme;
    }
    .l-right {  
        margin-left: 25px;
        width: 800px;
        hr {
            width: 96%;
            font-weight: 600;
        }
     }
}

@media only screen and (max-width: 600px) {
    .l-container {
        display: block;
        .l-left {
            padding-left: 15px;
            width: 100%;
            .skills {
                padding-bottom: 20px;
            }
        }

        .l-right {
            margin-left: 15px;
            width: 375px;
        }
    }
}