@import "utilities/mixins";

.l-container {
    font-weight: 500;
    display: flex;
    .l-left { 
        width: 220px;
        background: $color-theme;
    }
    .l-right {  
        width: 800px;
        
        hr {
            width: 96%;
            font-weight: 600;
        }
     }
}