@import "utilities/mixins";

.l-container {
    font-weight: 500;
    display: flex;
    .left { 
        width: 220px;
        background: $color-theme;
        hr {
            width: 80%;
            margin-left: 40px;
            color: $color-white;
        }
        h5 {
            padding-left: 40px;
            color: $color-white;
            margin-bottom: -5px;
        }
    }
    .right {   
        hr {
            width: 94%;
            font-weight: 600;
        }

        @media only screen and (max-width: 600px){
            .l-container {
                display: block;
                .vr::before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: -25px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    border: 2px solid $color-theme;
                  }
                  
                  .vr::after {
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: -21px;
                    width: 2px;
                    background: $color-theme;
                  }
            }
        }
        
        @media only screen and (min-width: 992px){
            .l-container {
                .vr::before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: -25px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    border: 2px solid $color-theme;
                  }
                  
                  .vr::after {
                    content: "";
                    position: absolute;
                    top: 14px;
                    left: -21px;
                    width: 2px;
                    height: calc(100% + 4px);
                    background: $color-theme;
                  }
            }
        }
     }
}