body {
    color: #323b4c;
    height: 100%;
}
h3 {
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 47px;
}

h6 {
    margin-left: 21px;
    color: gray;
    svg {
        color: white;
        padding-right: 5px;
    }
}

h1 {
    font-weight: 100;
    text-transform: uppercase;
    padding-left: 25px;
    padding-bottom: 0px;
    font-size: 35px;
}
a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    font-size: larger;
    color: yellowgreen;
}

h5:first-child {
    margin-left: 70px;
}

ul {
    li {
        padding-bottom: 5px;
    }
}

h3:last-child {
    padding-left: 25px;
}

hr {
    margin-top: -15px;
}