.left {
    font-size: 14.5px;
    width: 220px;
    padding-left: 30px;
    background: $color-theme;
    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px;
    }
    hr {
        width: 90%;
        margin-left: 20px;
        color: $color-white;
    }
    h5 {
        margin-left: 20px;
        color: $color-white;
        margin-bottom: -5px;
    }
    p {
        margin-left: 20px;
        color: $color-gray;
    }
}
 .right {
    h1 {
        margin-bottom: 3px;
    }  
 }





