.left {
    font-size: 14.5px;
    width: 220px;
    padding-left: 30px;
    float: left;
    background: #323b4c;
    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 30px 35px;
    }
    hr {
        width: 90%;
        margin-left: 21px;
        color: $color-base;
    }
    h5 {
        margin-left: 21px;
        color: $color-base;
        margin-bottom: -5px;
    }
    p {
        margin-left: 21px;
        color: $color-gray;
    }
}






