.left {
    width: 220px;
    padding-left: 30px;
    float: left;
    background: #323b4c;
    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        padding: 50px 35px;
    }
    h4 {
        text-transform: uppercase;
        color: white;
        margin-left: 21px;
    }
    hr {
        width: 90%;
        margin-left: 21px;
        color: white;
    }
    h5 {
        margin-left: 21px;
        color: white;
    }
    p {
        margin-left: 21px;
        color: gray;
    }
}

.right {
    float: left;
    width: 455px;
    height: 900px;
    p{
        padding-left: 25px;
    }
    h4 {
        position: relative;
        top: 2px;
        text-transform: uppercase;
        padding-left: 25px;
    }
    hr {
        width: 88%;
        border: 1px solid;
    }
}

