.footer {
    display: flex;
    margin-top: -20px;
    h5 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 15px;
    }
    h6 {
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    p {
        margin-top: 10px;
    }
    .right1 {
        margin-left:15px;
    }
    
}