.footer {
    display: flex;
    h5 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 15px;
    }
    h6 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    p {
        margin-top: 10px;
    }
    
}