.footer {
    h5 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 15px;
        margin-left: 25px;
    }
    h6 {
        margin-left: 25px;
        margin-top: 2px;
        margin-bottom: 0px;
    }
    p {
        margin-top: 10px;
    }
    
}