.vr {
    list-style-type: none;
    position: relative;
    margin-left: 20px;
    padding-left: 15px;

    &:last-child {
        margin-bottom: 50px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: -26px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid $color-theme;
    }

    &:after {
      content: "";
      position: absolute;
      top: 14px;
      left: -21px;
      width: 2px;
      height: calc(100% + 40px); // calc
      background: $color-theme;
    }
}
